<aside class="categories">
    <h2>CATEGORÍAS</h2>
    <ul>
        <li><a href="#" class="active">CEMENTO</a>
            <ul>
                <li><a href="#">Coboce</a></li>
                <li><a href="#">Emisa</a></li>
                <li><a href="#">Camba</a></li>
                <li><a href="#">Soboce</a></li>
            </ul>
        </li>
        <li><a href="#">ARENA</a></li>
        <li><a href="#">BLOQUES</a></li>
        <li><a href="#">VARILLAS</a></li>
        <li><a href="#">REVESTIMIENTOS</a></li>
    </ul>
</aside>