{% extends 'base.html' %}
{% load static %}

{% block title %}
Perfil
{% endblock %}

{% block contenidos %}
    <!--<section class="contentP">
        <h1>AQUI COLOCAS TU HTML GUILDER SI QUIERES LO CAMBIAS EL SECTIONS CLASS CONTENTP TE LO RECOMIENDO</h1>
        <p>LA CLAVE ES QUE NO LE QUITES EL INCLUDE BARRAPERFIL.HTML , INCLUSO SI QUIERES PUEDES HACER TU PROPIA PLANTILLA Y AQUI SOLO COLOCARIAS INCLUDE 'TUPLANTILLA.HTML'</p>
        
    </section> -->
    <!--Filtro por productos,, activos e inactivos-->
    <div class="subBarraNanvegacion">
        <div class="filtro-fechas-container">
            <label for="filtro">Selecciona un filtro:</label>
            <select id="filtro" name="filtro" onchange="this.form.submit()">
                <option value="todos">Todos los productos</option>
                <option value="activos">Productos activos</option>
                <option value="inactivos">Productos inactivos</option>
            </select>
        </div>
        
        <!--Filtro por fechas -->
        <div class="filtro-fechas-container">
            <label for="filtro-fechas">Filtro por fechas:</label>
            <select id="filtro-fechas" name="filtro-fechas" onchange="this.form.submit()">
                <option value="ascendente">Fechas Ascendentes</option>
                <option value="descendente">Fechas Descendentes</option>
                <option value="mes">Filtrar por Mes</option>
                <option value="año">Filtrar por Año</option>
            </select>
        </div>
    
        <!-- Div para editar -->
        <div class="editar-container">
            <button id="editarSeleccionados">Editar Producto</button>
        </div>
    
        <!-- Div para eliminar -->
        <div class="eliminar-container">
            <input type="checkbox" id="seleccionar-todo" onclick="toggleCheckboxes(this)"> Seleccionar todo
            <button id="eliminarSeleccionados">Eliminar seleccionados</button>
        </div>
    </div>
    
    
    <div class="product-grid" id="product-grid">
        {% for producto in productos %}
        <div class="product-card" data-subcategoria-id="{{ producto.subcategoria.id }}">
            <div class="checkbox-container">
                <input type="checkbox" class="producto-checkbox" data-id="{{ producto.id }}">
            </div>
            <img src="{{ producto.imagenes.first.ruta.url }}" alt="{{ producto.nombre }}">
            <h3>{{ producto.nombre }}</h3>
            <h2>{{ producto.subcategoria.nombre }}</h2>
            <p>{{ producto.descripcion }}</p>
            <span class="precio">{{ producto.precio }} Bs</span>
            <button class="Estado">ESTADO</button>
            <p>FECHA</p>
        </div>
        {% empty %}
        <div class="SinProductos">
            <p>No hay productos disponibles en este momento.</p>
        </div>
        {% endfor %}
    </div>
    
     
    {% include 'barraPerfil.html' %}
{% endblock %}

<!--{% block materiales %}
    {% include 'materiales.html' %}
{% endblock %}-->
{% block extra_js %}
    <script src="{% static 'perfil.js' %}"></script>
{% endblock %}