{% extends 'base.html' %}
{% load static %}

{% block title %}
Perfil
{% endblock %}

{% block contenidos %}
    <!--<section class="contentP">
        <h1>AQUI COLOCAS TU HTML GUILDER SI QUIERES LO CAMBIAS EL SECTIONS CLASS CONTENTP TE LO RECOMIENDO</h1>
        <p>LA CLAVE ES QUE NO LE QUITES EL INCLUDE BARRAPERFIL.HTML , INCLUSO SI QUIERES PUEDES HACER TU PROPIA PLANTILLA Y AQUI SOLO COLOCARIAS INCLUDE 'TUPLANTILLA.HTML'</p>
        
    </section> -->
    <!--Filtro por productos,, activos e inactivos-->
    <div class="subBarraNanvegacion">
        <div class="filtro-fechas-container">
            <label for="filtro">Selecciona un filtro:</label>
            <select id="filtro" name="filtro" onchange="this.form.submit()">
                <option value="todos">Todos los productos</option>
                <option value="activos">Productos activos</option>
                <option value="inactivos">Productos inactivos</option>
            </select>
        </div>
        
        <!--Filtro por fechas -->
        <div class="filtro-fechas-container">
            <label for="filtro-fechas">Filtro por fechas:</label>
            <select id="filtro-fechas" name="filtro-fechas" onchange="this.form.submit()">
                <option value="ascendente">Fechas Ascendentes</option>
                <option value="descendente">Fechas Descendentes</option>
                <option value="mes">Filtrar por Mes</option>
                <option value="año">Filtrar por Año</option>
            </select>
        </div>
    
        <!-- Div para editar -->
        <div class="editar-container">
            <button id="editarSeleccionados">Editar Producto</button>
        </div>
    
        <!-- Div para eliminar -->
        <div class="eliminar-container">
            <input type="checkbox" id="seleccionar-todo" onclick="toggleCheckboxes(this)"> Seleccionar todo
            <button id="eliminarSeleccionados">Eliminar seleccionados</button>
        </div>
    </div>
    
    
    <div class="product-grid" id="product-grid">
        {% for producto in misProductos %}
        <div class="tarjeta-producto" data-subcategoria-id="{{ producto.subcategoria.id }}">
            
            <!-- Checkbox de selección -->
            <div class="seleccion-producto">
                <input type="checkbox" class="checkbox-producto" data-id="{{ producto.id }}">
            </div>
    
            <!-- Enlace en la imagen para detalles del producto -->
            <a href="{% url 'detalle_producto' producto.id %}">
                <img src="{{ producto.imagenes.first.ruta.url }}" 
                     alt="{{ producto.nombre }}" 
                     class="imagen-producto">
            </a>
    
            <!-- Enlace en el nombre para los detalles del producto -->
            <a href="{% url 'detalle_producto' producto.id %}">
                <h3 class="nombre-producto">{{ producto.nombre }}</h3>
            </a>
    
            <h4 class="subcategoria-producto">{{ producto.subcategoria.nombre }}</h4>
            <p class="descripcion-producto">{{ producto.descripcion }}</p>
            <span class="precio-producto">{{ producto.precio }} Bs</span>
    
            <!-- Estado del producto -->
            <span class="estado-producto">
                Estado: 
                {% if producto.estado_producto %}
                    Activo
                {% else %}
                    Inactivo
                {% endif %}
            </span>
    
            <!-- Fecha de creación -->
            <p class="fecha-publicacion">
                Publicado el: {{ producto.fecha_creacion|date:"d/m/Y H:i" }}
            </p>
    
            <!-- Botón para editar el producto -->
            <a href="{% url 'detalle_producto' producto.id %}" class="boton-editar">
                Editar Producto
            </a>
        </div>
        {% empty %}
        <div class="sin-productos">
            <p>No hay productos disponibles en este momento.</p>
        </div>
        {% endfor %}
    </div>  
       
    {% include 'barraPerfil.html' %}
{% endblock %}

<!--{% block materiales %}
    {% include 'materiales.html' %}
{% endblock %}-->
{% block extra_js %}
    <script src="{% static 'perfil.js' %}"></script>
{% endblock %}