<section class="content">
    <h1>Los Mejores Materiales para Tu Construcción</h1>
    <p>Calidad garantizada a precios competitivos. ¡Compra ahora y recibe tu pedido en la puerta de tu casa!</p>
    

    <div class="product-grid">
        <div class="product-card">
            <img src="https://placehold.co/200x200" alt="Cemento">
            <h3>Cemento</h3>
            <a href="#" class="info-button">Más información</a>
        </div>
        <div class="product-card">
            <img src="https://placehold.co/200x200" alt="Ladrillo">
            <h3>Ladrillo</h3>
            <a href="#" class="info-button">Más información</a>
        </div>
        <div class="product-card">
            <img src="https://placehold.co/200x200" alt="Canaletas">
            <h3>Canaletas</h3>
            <a href="#" class="info-button">Más información</a>
        </div>
        <div class="product-card">
            <img src="https://placehold.co/200x200" alt="Bloques de Cemento">
            <h3>Bloques de Cemento</h3>
            <a href="#" class="info-button">Más información</a>
        </div>
    </div>
</section>