/* General de la navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--white);
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 60px;
    height: 60px;
    filter: drop-shadow(2px 2px 2px white);
}

.logo-img:hover {
    filter: drop-shadow(2px 2px 5px var(--secondary-color));
}

/* Barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 2rem;
}

.search-bar input {
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    height: 40px;
}

.search-bar button {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search-bar button:hover {
    background-color: var(--secondary-color);
}

/* Enlaces de navegación */
.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: var(--secondary-color);
}

/* Perfil */
.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5rem;
}

/* Dropdown del carrito */
.dropdown {
    position: relative;
}

.dropbtn {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
}

.dropbtn:hover {
    background-color: var(--secondary-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #03a678;
    min-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    border-radius: 5px;
}

/* Mostrar el dropdown al pasar el mouse */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.remove-from-cart {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    cursor: pointer;
}

.remove-from-cart:hover {
    background-color: #e63900;
}

/* Botón hamburguesa para móviles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 2px 0;
    transition: 0.4s;
}

/* Diseño responsivo */
@media (max-width: 768px) {
    .search-bar {
        flex-grow: 1;
        margin: 0.5rem 0;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: var(--primary-color);
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
        transition: all 0.3s;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}